
<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="/">
        ㅤSensores 
     </a>
   </nav>

   <div class="container">
    <div class="row">
      <div class="col-md-8">
    <ul class="list-group">
      <li 
      *ngFor= "let sensor sensoresArray"
      class="list-group-item">
                {{ sensor.nombre}}
      </li>
    </ul> 
    <div class="card mt-4">
   <div class="card-body">
    <div class="card-title">
       Inserte nuevo sensor
    </div>
   </div>
    </div>                 
      </div>
      <div class="col-md-4">
        <img width="300" alt="Angular Logo" src="http://assets.stickpng.com/images/584830fecef1014c0b5e4aa2.png">
     </div>
    </div>
  </div>