
<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="/">
        ㅤSensores 
     </a>
   </nav>

   <div class="container" >
    <form [formGroup]="FormularioRegistro" >
      <div>
  
          <label  class="form-label" >Sensor</label>
          <input type="text" class="form-control"  formControlName="Nombre_Papa" [(ngModel)]="sensor.Nombre" >
          </div><br>
              <button (click)="crearSensor()" (click)="showModal()" class="btn btn-primary">Guardar</button>
              <a  class="btn btn-danger" routerLink="/administrador">Cancelar</a>
      </form>
      <h3>Sensores</h3>
      <div class="containerproductos mb-3">
        <table class="table table-striped table-hover border abajoArriba">
            <thead>
              <tr>
                <th scope="col">Sensor Lista</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let sensor of sensores">
                <td>{{sensor.Nombre}}</td>
              </tr>
            </tbody>
          </table>
        </div>