<link href="http://fonts.cdnfonts.com/css/ethnocentric" rel="stylesheet">
                

<section class="container py-4 h-90 gradient-form" id="login">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-md-4" >
      <div class="card text-black" id="login">
        <div class="col">
          <div class="card-body p-md-4 mx-md-2">
            <div class="text-center">
              <h4 class="mt-1 mb-5 pb-1">Security Car</h4>
            </div>
            <form [formGroup]="loginForm" (ngSubmit)="login()" id="login">
              <h5 class="mt-1 mb-5 pb-1" class="text-center">
                <p>Iniciar Sesion</p>
              </h5>

              <div class="form-outline mb-4">
                <label class="form-label" for="inputEmail"
                  >Correo Electronico</label
                >
                <input
                  type="email"
                  id="inputEmail"
                  class="form-control"
                  formControlName="email"
                  placeholder="Coloca tu correo electronico"
                  [class.is-invalid]="emailValidate"
                  required
                />
              </div>

              <div class="form-outline mb-4">
                <label class="form-label" for="form2Example22"
                  >Contraseña</label
                >
                <input
                  type="password"
                  id="inputPassword"
                  formControlName="password"
                  [class.is-invalid]="passwordValidate"
                  class="form-control"
                  placeholder="Contraseña"
                />
              </div>

              <!-- <div class="alert alert-danger text-center" role="alert" ></div> -->

              <div class="text-center pt-1 mb-5">
                <button id="btn" type="submit">
                  <!--[disabled]="contactForm"-->
                  Ingresar
                </button>
              </div>

              <div
                class="d-flex align-items-center justify-content-center pb-4"
              >
                <p class="mb-0 me-2" routerLink="../registro-user">¿Aun no tienes cuenta?</p>

                <br />

                <!-- <a href="/link/to/registro-user">Continue</a>-->
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
