
.background {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  
  .img {
    width: 150px;
  }
  
  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
  }
  
  .form-signin .form-control {
    height: 45px;
  }

  *{
    color: #141514;
}
#btn{
  text-transform: uppercase;
  width: 150px;
  height: 40px;
  border-radius: 80px;
  font-size: 16px;
  line-height: 35px;
  text-align: center;
  border: 3px solid #000;
  display: block;
  text-decoration: none;
  margin: 20px auto 1px auto;
  color: #96aab7;
  overflow: hidden;        
  position: relative;
  background-color: #000;
}