<link href="http://fonts.cdnfonts.com/css/ethnocentric" rel="stylesheet">
                

<div class="container" >
  <div class="row card-body mx-md-2" id="contenedor">
    <div class="col">
      <form [formGroup]="registroForm" (ngSubmit)="registro()">
        <label class="sr-only" for="inputUsername">Usuario</label>
        <input
          type="text"
          class="form-control mb-2"
          id="inputUsername"
          placeholder="Usuario"
          formControlName="username"
        />
        <label class="sr-only" for="inputEmail">Correo Electronico</label>
        <input
          type="email"
          class="form-control mb-2"
          id="inputEmail"
          placeholder="Correo Electronico"
          formControlName="email"
          [class.is-invalid]="emailValidate"
        />
        <label class="sr-only" for="inputPassword">Contraseña</label>
        <input
          type="password"
          class="form-control mb-3"
          id="inputPassword"
          placeholder="Contraseña"
          formControlName="password"
          [class.is-invalid]="passwordValidate"
        />
        <label class="sr-only" for="inputPassword2">Confirmar Contraseña</label>
        <input
          type="password"
          class="form-control mb-3"
          id="inputPassword2"
          placeholder="Confirmar Contraseña"
          formControlName="password2"
          [class.is-invalid]="password2Validate"
        />
        <div class="text-center pt-1 mb-5 pb-1">
          <button
          id="btn"            
            type="submit"
          >
            Registrarse
          </button>
        </div>
      </form>
    </div>
    <div class="col">
      <div class="text-center">
        <img
          src="../../assets/img/CARRO.png"
          style="width: 185px"
          alt="logo"
        />
        <h4 class="mt-1 mb-5 pb-1">REGISTRAR</h4>
        <br />
        <a
          style="font-family: 'Ethnocentric Rg', sans-serif;
          font-size: small;" 
          >Ya tienes una cuenta?</a
        >
      </div>
    </div>
  </div>
</div>
