<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>



<div class="container">
  <div class="row" id="ads" *ngFor="let sen1 of sensores">
    <div class="col-md-4">
      <div class="card rounded">
        <div class="card-image">
          <span class="card-notify-badge">Sensor {{sen1.idSensor}}</span>

          <img
            class="img-fluid"
            src={{sen1.IMG}}
            alt="Alternate Text"
          />
        </div>

        <div class="card-body text-center">
          <div class="ad-title m-auto">
            <h5>{{sen1.Nombre}}</h5>
            <h6>{{sen1.Descripcion}}</h6>
          </div>
          <a class="ad-btn">Agregar</a>
        </div>
      </div>
    </div>
  </div>
</div>


  