<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="container">
  <div class="row" id="ads" *ngFor="let sen1 of sensores">
    <div class="col-md-4">
      <div class="card rounded">
        <div class="card-image">
          <span class="card-notify-badge">Sensor {{sen1.idSensor}}</span>

          <img
            class="img-fluid"
            src={{sen1.IMG}}
            alt="Alternate Text"
          />
        </div>

        <div class="card-body text-center">
          <div class="ad-title m-auto">
            <h5>{{sen1.Nombre}}</h5>
            <h2>{{sen1.Descripcion}}</h2>
          </div>
          <a class="ad-btn" href="#">Agregar</a>
        </div>
      </div>
    </div>
  </div>
  <!----------------------------------------------- Parte de abajo ------------------------------------------------------>
  <div class="container">
    <div class="row" id="ads">
      <div class="col-md-4">
        <div class="card rounded">
          <div class="card-image">
            <span class="card-notify-badge">Sensor 4</span>

            <img
              class="img-fluid"
              src="https://i.linio.com/p/94004c4ef147d4c08244f984f1d0cd9f-product.jpg"
              alt="Alternate Text"
            />
          </div>

          <div class="card-body text-center">
            <div class="ad-title m-auto">
              <h5>Motor</h5>
              <ul>
                <li>id</li>
                <li>nombre</li>
                <li>descripcion</li>
              </ul>
            </div>
            <a class="ad-btn" href="#">Agregar</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card rounded">
          <div class="card-image">
            <span class="card-notify-badge">Sensor 5</span>

            <img
              class="img-fluid"
              src="https://www.steren.com.mx/media/catalog/product/cache/b69086f136192bea7a4d681a8eaf533d/image/19604fb71/micro-servomotor-con-torque-de-1-8-kgf-cm.jpg"
              alt="Alternate Text"
            />
          </div>

          <div class="card-body text-center">
            <div class="ad-title m-auto">
              <h5>Servo-Motor</h5>
              <ul>
                <li>id</li>
                <li>nombre</li>
                <li>descripcion</li>
              </ul>
            </div>
            <a class="ad-btn" href="#">Agregar</a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        
        <!--ejemplo de carta 
        
        -->
        <div name="aqui va el foreach">
          <div class="card rounded">
            <div class="card-image">
              <span class="card-notify-badge">Sensor 6</span>

              <img
                class="img-fluid"
                src="aqui la imagen"
                alt="Alternate Text"
              />
            </div>

            <div class="card-body text-center">
              <div class="ad-title m-auto">
                <h5>Impacto</h5>
                <ul>
                  <li>
                    aqui va el campo del for each con el nombre del sensor
                  </li>
                  <li>
                    aqui va el campo del for each con la descripcion del sensor
                  </li>
                </ul>
              </div>
              <button
                name="id"
                class="ad-btn"
                href="graficas"
              >
                Agregar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
