<h1>Este es tu historial de Sensores:)</h1>

<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>



<div class="container-fluid">
  <div class="row" id="ads"> 
    <div class="col col-md-3" *ngFor="let sen2 of sensores">
      <div class="card rounded">
        <div class="card-image">
          <span class="card-notify-badge">Sensor {{sen2.idSensor}}</span>

       
        </div>

        <div class="card-body text-center">
          <div class="ad-title m-auto">
            <h5>{{sen2.Distacia}}</h5>
          
          </div>
      
        </div>
      </div>
    </div>
  </div>
</div>
