<nav class="navbar justify-content-center">
  <a class="navbar-brand" id="navv">
    Historial de tus sensores
  </a>
  </nav>
  


<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="container-fluid">
  <div class="row" id="ads">
    <!--
    <div class="col col-md-3" *ngFor="let sen2 of sensoress">
      <div class="card rounded">
        <div class="card-image">
          <div if></div>
          <div class="col-xs-6" [ngSwitch]="sen2.idSensor">
            <span *ngSwitchCase="1">
              <div>
                {{ sen2.idSensor }}
              </div>
              <div>
                {{ sen2.Nombre }}
              </div>
              <div>
                {{ sen2.Temperatura }}
              </div>
              <div>
                {{ sen2.Humedad }}
              </div>
              <div>
                {{ sen2.Fechacreacion }}
              </div>
            </span>
            <span *ngSwitchCase="2">
              <div>
                {{ sen2.idSensor }}
              </div>
              <div>
                {{ sen2.Nombre }}
              </div>
              <div>
                {{ sen2.Distancia }}
              </div>
              <div>
                {{ sen2.Descripcion }}
              </div>
              <div>
                {{ sen2.Fechacreacion }}
              </div>
            </span>
            <span *ngSwitchCase="3">
              <div>
                {{ sen2.idSensor }}
              </div>
              <div>
                {{ sen2.Nombre }}
              </div>
              <div>
                {{ sen2.Deteccion }}
              </div>
              <div>
                {{ sen2.Descripcion }}
              </div>
              <div>
                {{ sen2.Fechacreacion }}
              </div>
            </span>
            <span *ngSwitchCase="4">
              <div>
                {{ sen2.idSensor }}
              </div>
              <div>
                {{ sen2.Nombre }}
              </div>
              <div>
                {{ sen2.ang_x }}
              </div>
              <div>
                {{ sen2.ang_y }}
              </div>
              <div>
                {{ sen2.ang_z }}
              </div>
              <div>
                {{ sen2.acel_x }}
              </div>
              <div>
                {{ sen2.acel_y }}
              </div>
              <div>
                {{ sen2.acel_z }}
              </div>
              <div>
                {{ sen2.Fechacreacion }}
              </div>
            </span>
            <span *ngSwitchDefaul="5">
              <div>
                {{ sen2.idSensor }}
              </div>
              <div>
                {{ sen2.Nombre }}
              </div>
              <div>
                {{ sen2.Posicion }}
              </div>
              <div>
                {{ sen2.Fechacreacion }}
              </div>
            </span>
            <span *ngSwitchDefaul="6">
              <div>
                {{ sen2.idSensor }}
              </div>
              <div>
                {{ sen2.Nombre }}
              </div>
              <div>
                {{ sen2.Posicion }}
              </div>
              <div>
                {{ sen2.Fechacreacion }}
              </div>
            </span>
          </div>
        </div>
        <div class="card-body text-center">
          <div class="ad-title m-auto"></div>
        </div>
      </div>
    </div>
    -->
    <div class="col">
      <div class="col col-md-3" *ngFor="let sen1 of histo; let indice=index">
        <div class="card rounded">
          <div class="card-image">
            <span class="card-notify-badge"
              >Sensor {{ histo[indice]["idSensor"] }}</span
            >
          </div>
          <div class="card-body text-center">
            <div class="ad-title m-auto">
              <h5>Nombre:{{ histo[indice]["Nombre"] }}</h5>
              <p>
                {{ histo[indice]["Temperatura"] }}
              </p>
              <p>
                {{ histo[indice]["Humedad"] }}
              </p>
              <p>{{ histo[indice]["acel_x"] }}</p>
              <p>{{ histo[indice]["acel_y"] }}</p>
              <p>{{ histo[indice]["acel_z"] }}</p>
              <p>{{ histo[indice]["ang_x"] }}</p>
              <p>{{ histo[indice]["ang_y"] }}</p>
              <p>{{ histo[indice]["ang_z"] }}</p>
              <p>{{ histo[indice]["Distancia"] }}</p>
              <p>{{ histo[indice]["Deteccion"] }}</p>
              <p>{{indice+1}}</p>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
