<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<div class="container-sm container-fluid">
  <div class="row">
    <div class="col col-md-3" *ngFor="let sen1 of ultimosregistros">
      <div class="card rounded">
        <div class="card-image">
          <span class="card-notify-badge">Sensor {{ sen1 }}</span>
        </div>
        <div class="card-body text-center">
          <div class="ad-title m-auto">
            <h5>{{ sen1.Nombre }}</h5>
            <p>
              {{ sen1.Temperatura }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col"></div>
    <div class="col">
      <div class="caja_botones">
        <!--BOTON DE ACELERAR disabled="!isValid"-->
        <button type="button" (click)="ir()">
          <img
            src="../../../../assets/img/acelerador.jpeg"
            height="80"
            width="100"
          />
        </button>
        <!--BOTON DE FRENAR-->
        <button type="button" (click)="stop()">
          <img src="../../../../assets/img/freno.png" height="80" width="100" />
        </button>
        <!--BOTON DE reversa  disabled="!isValid"-->
        <button type="button" (click)="retroceder()">
          <img
            src="../../../../assets/img/rebersa.jpeg"
            height="80"
            width="100"
          />
        </button>
      </div>
      <div class="caja_botones">
        <!--BOTON DE LA IZQUIERDA-->
        <button type="button" (click)="IZQ()">
          <img
            src="../../../../assets/img/izquierda.jpeg"
            height="80"
            width="100"
          />
        </button>
        <!--BOTON CENTRAR-->
        <button type="button" class="centro" (click)="CENTRO()">
          <img
            src="../../../../assets/img/izquierda.jpeg"
            height="80"
            width="100"
          />
        </button>
        <!--BOTON DE LA DERECHA-->
        <button type="button" (click)="DER()">
          <img
            src="../../../../assets/img/derecha.jpeg"
            height="80"
            width="100"
          />
        </button>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>
