<div class="container-sm container-fluid">
    <div class="row">
        <P>AGREGAR LAS CARTAS CON LOS DATOS DE LOS SENSORES</P>
    </div>
    <div class="col">
        <div class="container">

            <!--BOTON DE ARRIBA--> 
            <button type="button"> 
                <img src="../../../../assets/img/acelerador.jpeg" height="80" width="100" />
                </button>
                <!--BOTON DE ABAJO--> 
               <button type="button"> 
                   <img src="../../../../assets/img/freno.jpeg"height="80" width="100" />
               </button> 
               <!--BOTON DE LA DERECHA--> 
                <button type="button"> 
                    <img src="../../../../assets/img/derecha.jpeg" height="80"width="100" />
                </button>
                <!--BOTON DE LA IZQUIERDA--> 
                <button type="button"> 
                   <img src="../../../../assets/img/izquierda.jpeg"height="80" width="100" />
               </button>

        </div>
        <div class="">

        </div>
    </div>
</div>