<div class="container-sm container-fluid">
  <div class="row"> 
    <div class="col col-md-3" *ngFor="let sen1 of sensores">
      <div class="card rounded">
        <div class="card-image">
          <span class="card-notify-badge">Sensor {{ sen1.idSensor }}</span>
        </div>

        <div class="card-body text-center">
          <div class="ad-title m-auto">
            <h5>{{ sen1.Nombre }}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="col">
    <div class="container">
      <!--BOTON DE ACELERAR-->
      <button type="button" disabled="!isValid" (click)="avanzar($event)">
        <img src="../../../../assets/img/freno.jpeg" height="80" width="100" />
      </button>
      <!--BOTON DE FRENAR-->
      <button type="button" >
        <img
          src="../../../../assets/img/acelerador.jpeg"
          height="80"
          width="100"
        />
      </button>
      <!--BOTON DE LA IZQUIERDA-->
      <button type="button">
        <img
          src="../../../../assets/img/izquierda.jpeg"
          height="80"
          width="100"
        />
      </button>
      <!--BOTON DE LA DERECHA-->
      <button type="button">
        <img
          src="../../../../assets/img/derecha.jpeg"
          height="80"
          width="100"
        />
      </button>
    </div>
    <div class=""></div>
  </div>
</div>
