/* You can add global styles to this file, and also import other style files */
/* width */
::-webkit-scrollbar {
    width: 10px;
    box-shadow: inset 0 0 5px rgb(195, 193, 193);
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(98, 96, 96); 
    border-radius: 10px;
    background: #f1f1f100;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgb(195, 193, 193);
    background: rgb(146, 146, 146);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 0 0 5px rgb(195, 193, 193);
    background: rgb(86, 86, 86);
  }

 